@{
    Layout = "_Nolayout";
}

@model Admin

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="login-box">
        <div class="hero">
            <div class="form-box">
                <a href="/dashboard/index" class="close-btn2">&times;</a>
                <h2>Admin</h2>
                <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="Edit">
                    <input class="fa fa-user" type="text" asp-for="Id" hidden />
                    <div class="input-field">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" asp-for="username" class="field" placeholder="Username" required value="@Model.username">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                        <input type="text" asp-for="email" class="field" placeholder="email" required value="@Model.email">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-phone" aria-hidden="true"></i>
                        <input type="number" asp-for="phone" class="field" placeholder="Number Phone" pattern="[0-9]{11}" required value="@Model.phone">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-location" aria-hidden="true"></i>
                        <input type="text" asp-for="alamat" class="field" placeholder="Alamat " required value="@Model.alamat">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock" aria-hidden="true"></i>
                        <input type="password" asp-for="password" class="field" placeholder="Password" required value="@Model.password">
                    </div>
                    <button type="submit" class="submit-btn">Create Lapangan</button>
                </form>
                <div class="aside2">
                </div>
            </div>
        </div>
    </div>
</body>
</html>



